[submodule "flipperzero-firmware"]
	path = flipperzero-firmware
	url = https://github.com/shilapi/flipperzero-firmware
	branch = dev
[submodule "flipper-enclave-manager"]
	path = flipper-enclave-manager
	url = https://github.com/shilapi/flipper-enclave-manager
[submodule "Hardware/FlipperZero-ST-Link_v3_devboard"]
	path = Hardware/FlipperZero-ST-Link_v3_devboard
	url = https://github.com/shilapi/FlipperZero-ST-Link_v3_devboard
